@font-face {
    font-family: montserrat;
    src: url(./montserrat-bold-webfont.woff2) format("woff2");
    font-weight: 700
}

@font-face {
    font-family: montserrat;
    src: url(./montserrat-semibold-webfont.woff2) format("woff2");
    font-weight: 600
}

@font-face {
    font-family: montserrat;
    src:url(./montserrat-regular-webfont.woff2) format("woff2");
    font-weight: 400
}

@font-face {
    font-family: montserrat;
    src: url(./montserrat-light-webfont.woff2) format("woff2");
    font-weight: 300
}

@font-face {
    font-family: 'open sans';
    src: url(./opensans-bold-webfont.woff2) format('woff2');
    font-weight: 700
}

@font-face {
    font-family: 'open sans';
    src:url(./opensans-semibold-webfont.woff2) format('woff2');
    font-weight: 600
}

@font-face {
    font-family: 'open sans';
    src: url(./opensans-regular-webfont.woff2) format('woff2');
    font-weight: 400
}

body, html {
    overflow-x: hidden;
    font-size: .95em;
    color: #848c99;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    white-space: normal
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-weight: 600;
    color: #37404d;
    line-height: 1.3;
    margin: 0 0 10px 0;
    letter-spacing: -.03em
}

h1 {
    font-size: 3em
}

h2 {
    font-size: 2.75em
}

h3 {
    font-size: 2.25em
}

h4 {
    font-size: 2em
}

h5 {
    font-size: 1.25em
}

h6 {
    font-size: 1.025em
}

ul {
    padding: 0
}

li {
    list-style: none;
    margin-bottom: 10px
}

a {
    transition: .5s;
    -webkit-transition: .5s;
    text-decoration: none;
    outline: 0;
    color: inherit
}

.faql {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faql .btn {
    width:150px;
}
.faql .form-group .active2 {
    background-image: linear-gradient(135deg, #ffe80d 0, #faa648 51%, #ffdfe3 100%);
}

.faq .panel-group {
    display:none;
}

.faq .show {
    display:block;
}

.nav > li > a:focus, .nav > li > a:hover, li > a:focus, li > a:hover {
    background-color: transparent;
    border-color: transparent
}

.nav > li > a, ul {
    padding: 0
}

a, a:active, a:focus {
    outline: 0;
    text-decoration: none
}

a, a:active, a:focus, a:hover {
    text-decoration: none
}

.btn i, .btn p, .btn span, .overly * {
    z-index: 1
}

.btn, .meta-head {
    text-transform: uppercase;
    letter-spacing: .2px
}

.btn, .meta {
    line-height: 1
}

li {
    list-style: none;
    margin-bottom: 10px
}

a {
    transition: .5s;
    -webkit-transition: .5s;
    color: inherit
}

.nav > li > a:focus, .nav > li > a:hover, li > a:focus, li > a:hover {
    background-color: transparent;
    border-color: transparent
}

a:active, a:focus {
    -moz-outline: 0
}

a:hover {
    color: #702dda
}

.sec-pad {
    padding-top: 100px;
    padding-bottom: 100px
}

.sec-pad-sm {
    padding-top: 60px;
    padding-bottom: 60px
}

.sec-pad-lg {
    padding: 150px 0
}

img {
    max-width: 100%;
    height: auto
}

.section-text {
    max-width: 600px;
    margin: 0 auto 60px auto
}

.meta {
    font-size: 14px
}

.meta-head {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px
}

p.large {
    font-size: 1.2em
}

.light {
    color: #fff
}

.light .icon, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #fff
}

.icon {
    color: #cacbcc;
    margin-bottom: 5px
}

.icon-lg {
    color: #cacbcc;
    font-size: 3em;
    margin-bottom: 10px
}

.icon-md {
    font-size: 2.5em
}

.icon-sm {
    font-size: 2em
}

.icon-xs {
    font-size: 1.5em
}

.parallax-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.sub-input .custom-form {
    position: relative
}

.sub-input .custom-form .form-control {
    height: 60px;
    border: 0;
    background-color: #fff;
    border-radius: 70px;
    padding: 0 0 0 20px;
    font-size: 18px
}

.custom-form .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px transparent, 0 0 8px rgba(102, 175, 233, 0)
}

.sub-input .result-box {
    font-size: 24px
}

.sub-input .custom-form .btn {
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    top: 3px;
    right: 3px;
    bottom: 3px;
    box-shadow: 0 0 0 transparent
}

.bg-gray {
    background: url(../image/bg-gray.png) left top no-repeat;
    background-size: cover
}

.bg-light {
    background: #f2f5ff
}

.grdnt-blue:not(.overly) {
    background-image: -webkit-linear-gradient(135deg, #281483 0, #8f6ed5 51%, #281483 100%);
    background-image: linear-gradient(135deg, #281483 0, #8f6ed5 51%, #281483 100%)
}

.grdnt-purple:not(.overly) {
    background-image: -webkit-linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%);
    background-image: linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%)
}

.grdnt-orange:not(.overly) {
    background-image: -webkit-linear-gradient(135deg, #fe2553 0, #ff6351 51%, #fe2553 100%);
    background-image: linear-gradient(135deg, #fe2553 0, #ff6351 51%, #fe2553 100%)
}

.grdnt-cyan:not(.overly) {
    background-image: -webkit-linear-gradient(45deg, #8089ff 0, #54ceff 51%, #8089ff 100%);
    background-image: linear-gradient(45deg, #8089ff 0, #54ceff 51%, #8089ff 100%)
}

.grdnt-green:not(.overly) {
    background-image: -webkit-linear-gradient(45deg, #00c9fd 0, #81ee8e 51%, #00c9fd 100%);
    background-image: linear-gradient(45deg, #00c9fd 0, #81ee8e 51%, #00c9fd 100%)
}

.grdnt-blue.overly:before {
    background-image: -webkit-linear-gradient(135deg, #281483 0, #8f6ed5 51%, #281483 100%);
    background-image: linear-gradient(135deg, #281483 0, #8f6ed5 51%, #281483 100%)
}

.grdnt-purple.overly:before {
    background-image: -webkit-linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%);
    background-image: linear-gradient(135deg, #6d1bc6 0, #fa0076 51%, #6d1bc6 100%)
}

.grdnt-orange.overly:before {
    background-image: linear-gradient(135deg, #fe2553 0, #ff6351 51%, #fe2553 100%);
    background-image: -webkit-linear-gradient(135deg, #fe2553 0, #ff6351 51%, #fe2553 100%)
}

.grdnt-cyan.overly:before {
    background-image: -webkit-linear-gradient(45deg, #8089ff 0, #54ceff 51%, #8089ff 100%);
    background-image: linear-gradient(45deg, #8089ff 0, #54ceff 51%, #8089ff 100%)
}

.grdnt-green.overly:before {
    background-image: -webkit-linear-gradient(45deg, #00c9fd 0, #81ee8e 51%, #00c9fd 100%);
    background-image: linear-gradient(45deg, #00c9fd 0, #81ee8e 51%, #00c9fd 100%)
}

a[class*=grdnt-], button[class*=grdnt-], div[class*=grdnt-], div[class*=grdnt-].overly:before, footer[class*=grdnt-], footer[class*=grdnt-].overly:before, header[class*=grdnt-], header[class*=grdnt-].overly:before, input[class*=grdnt-], nav[class*=grdnt-], section[class*=grdnt-], section[class*=grdnt-].overly:before {
    transition: .5s;
    -webkit-transition: .5s;
    background-size: 250% auto
}

a[class*=grdnt-]:hover, button[class*=grdnt-], input[class*=grdnt-]:hover {
    color: #fff;
    background-position: right center
}

[class*=bg-trans] * {
    z-index: 3
}

[class*=bg-trans]:before, [class*=style-]:after {
    position: absolute;
    background-size: 100% !important;
    content: '';
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: 0
}

.style-wave:after {
    background: url(../image/img-wave.png) bottom no-repeat
}






.style-angle:after {
    -webkit-transform: skewY(176deg);
    transform: skewY(176deg);
    width: 100%
}



.bg-solid {
    background: #3ac8fc
}

.overly {
    position: relative
}

.overly * {
    position: relative;
    z-index: 2
}

.overly:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .95
}

.brdr-btm {
    border-bottom: 1px solid #e1e1e1
}

.pd-10 {
    padding: 10px
}

.pd-20 {
    padding: 20px
}

.pd-30 {
    padding: 30px
}

.pt-0 {
    padding-top: 0
}

.pb-0 {
    padding-bottom: 0
}

.p-0 {
    padding: 0
}

.w-100 {
    width: 100%
}

.h-100 {
    height: 100%
}

.scroll-item {
    position: absolute
}

.spce {
    clear: both;
    height: 20px;
    width: 100%
}

.spce.xs {
    height: 5px
}

.spce.sm {
    height: 10px
}

.spce.md {
    height: 30px
}

.spce.lg {
    height: 60px
}

.bg-animate {
    position: relative
}

.bg-animate:not(.hero) [class*=rect] {
    z-index: -1
}

.bg-animate .rect1, .bg-animate .rect5 {
    position: absolute;
    top: 40%;
    left: 20px;
    -webkit-animation: mover 15s infinite linear;
    animation: mover 15s infinite linear
}

.bg-animate .rect2 {
    position: absolute;
    left: 25%;
    top: 15%;
    -webkit-animation: rotate3d 4s linear infinite;
    animation: rotate3d 4s linear infinite;
    opacity: .4
}

.bg-animate .rect3 {
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: .4
}

.bg-animate .rect4, .bg-animate .rect6 {
    position: absolute;
    top: 15%;
    right: 20%;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.bg-animate .rect5 {
    top: 20%;
    left: 20px
}

.bg-animate .rect6 {
    top: 15%;
    right: 40%
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
        transform: translate(73px, -1px) rotate(36deg)
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
        transform: translate(141px, 72px) rotate(72deg)
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg)
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
        transform: translate(-40px, 72px) rotate(144deg)
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
}

.flx-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.align-flx-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.align-flx-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center
}

.nav-tabs li a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: 0 0;
    border: 0;
    color: inherit
}

.nav-tabs {
    border-bottom: 0
}

.tab-container {
    z-index: 10
}

.tab-vertical .tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0
}

.tab-vertical .tab-menu .tab-list li:first-child {
    margin-bottom: 0;
    margin-top: 40px
}

.tab-vertical .tab-menu .tab-list li {
    margin-bottom: 0;
    position: relative;
    display: block;
    padding: 20px;
    color: inherit
}

.tab-vertical .tab-menu .tab-list li.active {
    border-color: transparent;
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1)
}

.tab-vertical .tab-pane {
    padding-left: 20px;
    padding-top: 10px
}

.tab-horizon .tab-menu .tab-list {
    margin-bottom: 0;
    width: 100%
}

.tab-horizon .tab-menu .tab-list li {
    margin-bottom: 0;
    display: inline-block;
    float: none;
    padding: 15px 30px;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    border-radius: 5px
}

.tab-horizon .tab-menu .tab-list li a {
    line-height: 1
}

.tab-horizon .nav-tabs > li.active > a, .tab-horizon .nav-tabs > li.active > a:focus, .tab-horizon .nav-tabs > li.active > a:hover, .tab-horizon .tab-menu .tab-list li > a .icon {
    color: #fff
}

.tab-horizon .tab-menu .tab-list li > a .fa {
    color: #39c05e
}

.tab-horizon .tab-menu .tab-list li:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0
}

.tab-horizon .tab-menu .tab-list li:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0
}

.tab-horizon .tab-menu .tab-list li.active {
    background-color: #0facf3
}

.tab-horizon .tab-menu .tab-list li.active .icon {
    color: #dce2f8
}

[class*=grdnt-] .tab-horizon .tab-menu .tab-list li.active, div[class*=grdnt-] .tab-horizon .tab-menu .tab-list li.active {
    background: rgba(0, 0, 0, .3)
}

[class*=grdnt-] .tab-horizon .tab-menu .tab-list li > a.active::after, div[class*=grdnt-] .tab-horizon .tab-menu .tab-list li > a.active::after {
    border-top-color: #fff
}

.list-style {
    position: relative;
    margin-top: 30px
}

.list-style li {
    padding-left: 30px
}

[class*=grdnt-] .list-style li:before, div[class*=grdnt-] .list-style li:before {
    color: #fff
}

.list-style li:before {
    position: absolute;
    content: '\f00c';
    left: 0;
    top: 3px;
    color: #0facf3;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.fw-300 {
    font-weight: 300
}

.fw-400 {
    font-weight: 400
}

.fw-600 {
    font-weight: 600
}

.fw-700 {
    font-weight: 700
}

.clr-green {
    color: #46da60
}

.clr-blue {
    color: #5b63fb
}

.clr-red {
    color: #fe2553
}

.clr-yellow {
    color: #ffbe00
}

.social-holder a {
    margin-right: 15px
}

.social-holder a:last-child {
    margin-right: 0
}

.btn-holder {
    margin-top: 30px;
}

.btn-holder2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    display: inline-block;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    padding: 14px 28px;
    background: 0 0;
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-weight: 600;
    font-size: .9em;
    transition: .5s;
    -webkit-transition: .5s;
    border-radius: 70px;
    border: 0;
    margin-top: 5px;
    margin-right: 10px
}

.btn span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    text-align: left;
    margin: 0;
    text-transform: capitalize
}

.btn i {
    margin-right: 8px;
    font-size: 22px;
    z-index: 1;
    position: relative
}

.btn i + span {
    vertical-align: top;
    margin-top: 3px;
    display: inline-block
}

.btn-sm {
    font-size: .575em;
    padding: 10px 30px
}

.btn-round {
    transition: .5s;
    -webkit-transition: .5s;
    position: relative;
    border-radius: 50%;
    background: #fff;
    font-size: 22px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto
}

.btn-round:after {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    z-index: -1;
    display: block;
    background: rgba(255, 255, 255, .8);
    width: 80%;
    height: 80%;
    animation: grow-scnd 1.5s infinite;
    -o-animation: grow-scnd 1.5s infinite;
    -moz-animation: grow-scnd 1.5s infinite;
    -webkit-animation: grow-scnd 1.5s infinite;
    -ms-animation: grow-scnd 1.5s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out
}

.btn-round span {
    color: #fff;
    font-size: 18px
}

.btn-white {
    background-color: #fff;
    border: 1px solid #fff
}

.btn-border {
    color: #fff;
    background: 0 0;
    border: 1px solid #fff;
    box-shadow: 0 0 0 transparent
}

.btn-border:hover {
    background: #fff;
    color: #6b1aff
}

[class*=grdnt-].btn.fill {
    color: #6b1aff
}

[class*=grdnt-].btn.fill:before {
    position: absolute;
    content: '';
    background: #fff;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50px
}

.grdnt-purple .btn-white {
    color: #6b1aff
}

.grdnt-purple .btn-white:hover {
    color: #550bdd
}

.grdnt-purple .btn-border:hover {
    color: #6b1aff
}

.grdnt-orange .btn-white {
    color: #fe2553
}

.grdnt-orange .btn-white:hover {
    color: #f52278
}

.grdnt-orange .btn-border:hover {
    color: #fe2553
}

.grdnt-blue .btn-white {
    color: #281483
}

.grdnt-blue .btn-white:hover {
    color: #281483
}

.grdnt-blue .btn-border:hover {
    color: #281483
}

input.btn:hover {
    color: #fff
}

[class*=icon-bg-], [class*=icon-bg] {
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.icon-bg {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    font-size: 2.5em
}

.icon-bg-md {
    width: 60px;
    height: 60px;
    font-size: 1.5em
}

.hover-grow [class*=icon-bg-], .hover-grow [class*=icon-bg] {
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    z-index: 1
}

.hover-grow [class*=icon-bg-]:after, .hover-grow [class*=icon-bg-]:before, .hover-grow [class*=icon-bg]:after, .hover-grow [class*=icon-bg]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    z-index: -1;
    display: block
}

.hover-grow .list:hover [class*=icon-bg-], .hover-grow .list:hover [class*=icon-bg] {
    transform: scale(1.3)
}

.hover-grow .list:hover [class*=icon-bg-]:before, .hover-grow .list:hover [class*=icon-bg]:before {
    background: rgba(0, 0, 0, .3);
    width: 0;
    height: 0;
    animation: grow 1.5s infinite;
    -o-animation: grow 1.5s infinite;
    -moz-animation: grow 1.5s infinite;
    -webkit-animation: grow 1.5s infinite;
    -ms-animation: grow 1.5s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out
}

.hover-grow .list:hover [class*=icon-bg-]:after, .hover-grow .list:hover [class*=icon-bg]:after {
    background: rgba(0, 0, 0, .3);
    width: 0;
    height: 0;
    animation: grow-scnd 1.5s infinite;
    -o-animation: grow-scnd 1.5s infinite;
    -moz-animation: grow-scnd 1.5s infinite;
    -webkit-animation: grow-scnd 1.5s infinite;
    -ms-animation: grow-scnd 1.5s infinite;
    animation-delay: 0s;
    animation-timing-function: ease-in-out
}

.hover-grow [class*=icon-bg-], .hover-grow [class*=icon-bg] {
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    z-index: 1
}

.hover-grow [class*=icon-bg-]:after, .hover-grow [class*=icon-bg-]:before, .hover-grow [class*=icon-bg]:after, .hover-grow [class*=icon-bg]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
    border-radius: 50%;
    z-index: -1;
    display: block
}

[class*=grdnt-] .hover-grow .list:hover [class*=icon-bg-]:before, [class*=grdnt-] .hover-grow .list:hover [class*=icon-bg]:before {
    background: rgba(255, 255, 255, .8)
}

[class*=grdnt-] .hover-grow .list:hover [class*=icon-bg-]:after, [class*=grdnt-] .hover-grow .list:hover [class*=icon-bg]:after {
    background: rgba(255, 255, 255, .8)
}

@-webkit-keyframes grow {
    0% {
        width: 0%;
        height: 0%;
        opacity: 1
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0
    }
}

@keyframes grow-scnd {
    0% {
        width: 0;
        height: 0;
        opacity: 1
    }
    50% {
        width: 0;
        height: 0;
        opacity: 1
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0
    }
}

[class*=grdnt-] [class*=icon-bg] {
    background: #fff
}

.app-slide .owl-item, .app-slide-auto .owl-item {
    visibility: hidden
}

.app-slide .owl-item.active.center, .app-slide-auto .owl-item.active.center {
    visibility: visible
}

.slide-side {
    position: relative
}

.app-slide, .app-slide-auto {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px
}

.slide-side .phone {
    position: relative;
    z-index: 5
}

.feat-slide .owl-stage-outer {
    overflow: visible
}

.feat-slide .owl-item {
    opacity: 0;
    transition: opacity .5s;
    padding: 30px;
    position: relative
}

.feat-slide .owl-item.active {
    opacity: 1
}

[class*=grad-] .clip-txt, [class*=grad-] .faq .more-less, [class*=grad-] .owl-item:after, [class*=grad-] .pricing-btn .toggler--is-active, [class*=grad-] .team-mem-col .team-hover .team-hover-content a:hover i {
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.grad-prple .clip-txt, .grad-prple .faq .more-less, .grad-prple .pricing-btn .toggler--is-active, .grad-prple .team-mem-col .team-hover .team-hover-content a:hover i {
    background-image: linear-gradient(to right, #4222f1 0, #ed3ea4 100%);
    background-image: -webkit-linear-gradient(to right, #4222f1 0, #ed3ea4 100%)
}

.grad-prple .owl-item:after {
    background: linear-gradient(to right, #4222f1 0, #ed3ea4 100%);
    background: -webkit-linear-gradient(to right, #4222f1 0, #ed3ea4 100%)
}

.grad-orange .clip-txt, .grad-orange .faq .more-less, .grad-orange .pricing-btn .toggler--is-active, .grad-orange .team-mem-col .team-hover .team-hover-content a:hover i {
    background-image: linear-gradient(135deg, #fe2553 0, #ff6351 100%);
    background-image: -webkit-linear-gradient(45deg, #fe2553 0, #ff6351 100%)
}

.grad-orange .owl-item:after {
    background: linear-gradient(135deg, #fe2553 0, #ff6351 100%);
    background: -webkit-linear-gradient(135deg, #fe2553 0, #ff6351 100%)
}

.grad-blue .clip-txt, .grad-blue .faq .more-less, .grad-blue .pricing-btn .toggler--is-active, .grad-blue .team-mem-col .team-hover .team-hover-content a:hover i {
    background-image: linear-gradient(135deg, #281483 0, #8f6ed5 100%);
    background-image: -webkit-linear-gradient(135deg, #281483 0, #8f6ed5 100%)
}

.grad-blue .owl-item:after {
    background: linear-gradient(135deg, #281483 0, #8f6ed5 100%);
    background: -webkit-linear-gradient(135deg, #281483 0, #8f6ed5 100%)
}

.feat-slide .owl-item:after {
    content: "";
    display: block;
    height: .25em;
    position: absolute;
    top: 100%;
    width: 0%;
    left: 50%;
    transform: translate(-50%);
    transition: all .5s;
    -webkit-transition: all .5s;
    background-size: 200% auto
}

.feat-slide .owl-item:hover:after {
    width: 100%
}

.shad-item .item, .shad-item .owl-item {
    box-shadow: 0 19px 38px rgba(0, 0, 0, .1), 0 15px 12px transparent;
    background: #fff
}

.left-dir-col [class*=icon-], .left-dir-col.icon, .navbar-custom .right-nav {
    float: right
}

.feat-slide .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border: 0 solid #000
}

.feat-slide .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 0;
    display: block !important;
    border: 0 solid #000
}

.feat-slide .owl-prev i, .owl-next i {
    background: #c6c6c6;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding-top: 10px
}

.active, .carousel, .item {
    height: 100%
}

.carousel-inner {
    height: 100%;
    overflow: visible
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transition-property: opacity
}

.carousel-fade .carousel-inner .active {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.active.right, .carousel-fade .carousel-inner > .item.next {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .carousel-fade .carousel-inner > .item.active.left, .carousel-fade .carousel-inner > .item.prev {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .carousel-fade .carousel-inner > .item.active, .carousel-fade .carousel-inner > .item.next.left, .carousel-fade .carousel-inner > .item.prev.right {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fade-left {
    -webkit-animation: fadeinLeft .6s ease-in-out;
    -moz-animation: fadeinLeft .6s ease-in-out;
    animation-duration: .6s;
    -o-animation: fadeinLeft .6s ease-in-out;
    -ms-animation: fadeinLeft .6s ease-in-out;
    animation: fadeinLeft .6s ease-in-out;
    animation-duration: .6s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}

@-webkit-keyframes fadeinLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeinLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@keyframes fadeinLeft {
    0% {
        opacity: 0;
        transform: translateX(20%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fade-up {
    -webkit-animation: fadeinUp .6s ease-in-out;
    -moz-animation: fadeinUp .6s ease-in-out;
    animation-duration: .6s;
    -o-animation: fadeinUp .6s ease-in-out;
    -ms-animation: fadeinUp .6s ease-in-out;
    animation: fadeinUp .6s ease-in-out;
    animation-duration: .6s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s
}

@-webkit-keyframes fadeinUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeinUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@keyframes fadeinUp {
    0% {
        opacity: 0;
        transform: translateY(20%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.carousel-control {
    width: auto;
    opacity: 1
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    filter: none;
    top: -20%
}

.quote .quote-text:after, .rating-list li, .social-holder a {
    display: inline-block;
    margin-bottom: 0
}

.rating-list li {
    margin-right: 3px
}

.rating-list li:last-child {
    margin-left: 8px;
    color: #252a32;
    font-size: 18px
}

[class*=grdnt-] .rating-list li:last-child {
    color: #fff
}

.rating-list li i {
    color: #ffdd65;
    font-size: 18px
}

.social-holder a {
    margin-right: 15px
}

.social-holder a:last-child {
    margin-right: 0
}

.hide-block {
    overflow: hidden
}

.hide-block img {
    position: relative;
    margin-bottom: -200px
}

.hide-block a img {
    margin-bottom: 0
}

.social-holder li {
    display: inline-block
}

.social-holder a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2)
}

.social-holder a:hover {
    background: rgba(0, 0, 0, .3);
    color: #fff
}

.box-content, .hover-box, .hover-content {
    position: relative
}

.hover-box {
    padding: 0
}

.hover-content {
    padding: 40px;
    background: #f6f6f6
}

.box-content {
    padding: 50px
}

.hover-box:after, .hover-box:before, .hover-content:after, .hover-content:before {
    position: absolute;
    content: "";
    background-color: #4222f1;
    z-index: 1
}

.hover-box:after, .hover-box:before {
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0)
}

.hover-content:after, .hover-content:before {
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0)
}

.hover-box:before, .hover-content:before {
    transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    right: 0;
    top: 0;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s
}

.hover-content:before {
    transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0
}

.hover-box:after, .hover-content:after {
    transform-origin: left bottom 0;
    -webkit-transform-origin: left bottom 0;
    -moz-transform-origin: left bottom 0;
    -ms-transform-origin: left bottom 0;
    -o-transform-origin: left bottom 0;
    left: 0;
    bottom: 0;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s
}

.col-content.hover {
    cursor: pointer
}

.col-content.hover .hover-box:hover:after, .col-content.hover .hover-box:hover:before {
    transform: scaleY(1);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s
}

.col-content.hover .hover-content:hover:after, .col-content.hover .hover-content:hover:before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s
}

.quote .owl-dots, .screen .owl-dots {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center
}

.quote .owl-dot, .screen .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    background: #b8bbc5
}

.quote .owl-dot.active, .screen .owl-dot.active {
    background: #6b1aff
}

[class*=grdnt] .quote .owl-dot, [class*=grdnt] .screen .owl-dot, div[class*=grdnt] .screen .owl-dot {
    background: rgba(255, 255, 255, .3)
}

[class*=grdnt] .quote .owl-dot.active, [class*=grdnt] .screen .owl-dot.active, div[class*=grdnt] .screen .owl-dot.active {
    background: #fff
}

[class*=bg-trans], [class*=style-] {
    position: relative
}

.contact-form .form-control {
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 0 transparent
}

.contact-form textarea.form-control {
    height: 70px;
    padding-top: 15px
}

#preloader {
    position: fixed;
    height: 100%;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #fff;
    transition: .5s
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../image/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

.navbar-custom {
    border: none;
    padding: 35px 0;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    transition: padding .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent
}

.navbar-custom:not(.navbar-fixed-top) {
    z-index: 10
}

.navbar-custom.affix {
    position: fixed
}

.navbar-custom .right-nav .nav-btn {
    float: right;
    margin-left: 20px
}

.navbar-custom.affix .right-nav .nav-btn .btn.btn-white {
    border-color: #702dda;
    color: #702dda
}

.navbar-custom.affix .right-nav .nav-btn .btn.btn-white:hover {
    background: #702dda;
    color: #fff
}

.navbar-custom .navbar-brand {
    margin-left: 0 !important;
    padding: 0;
    transition: .5s;
    -webkit-transition: .5s
}

.navbar-custom.affix .navbar-brand {
    padding: 0
}

.navbar-custom .navbar-brand.logo-clr, .navbar-custom.affix .navbar-brand.logo-light {
    opacity: 0;
    width: 0
}

.navbar-custom .navbar-brand.logo-light, .navbar-custom.affix .navbar-brand.logo-clr {
    opacity: 1;
    width: auto;
    height: auto
}

.navbar-custom.affix .btn-border:hover {
    background: #6b1aff;
    color: #fff;
    border-color: transparent
}

.navbar-custom .navbar-toggle {
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    margin-right: 0;
    padding: 0 0 0 12px;
    transition: .5s;
    -webkit-transition: .5s
}

.navbar-custom .navbar-toggle:hover {
    background: 0 0;
    opacity: .7
}

.navbar-custom.affix .navbar-toggle {
    color: #37404d
}

.navbar-custom ul li {
    margin: 0 16px
}

.navbar-custom ul li a {
    color: #e2dae3;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    line-height: 1
}

.navbar-custom.affix ul li a {
    color: inherit
}

.navbar-custom.affix ul li a:hover, .navbar-custom.affix ul li.active a {
    color: #424242
}

.navbar-custom ul li.active a {
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    color: #fff
}

.navbar-custom ul li a:hover {
    color: #fff
}

.navbar-custom.affix {
    padding: 20px 0;
    border-bottom: 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    background: #fff
}

.navbar-custom.affix ul li a:hover:after, .navbar-custom.affix ul li.active a:after {
    background: #702dda
}

.navbar-custom .nav-btn .btn {
    padding: 14px 25px;
    margin: 0
}

.navbar-custom.affix-top .nav-btn .btn {
    background: rgba(0, 0, 0, .2)
}

.hero {
    position: relative;
    padding-top: 150px;
    padding-bottom: 90px
}

.hero.style-wave-2 {
    padding-bottom: 0;
    max-height: 750px
}

.intro-text {
    margin-top: 80px
}

.hero-single {
    height: 450px
}

.hero-content {
    z-index: 3;
    position: relative
}

.hero.app-banner {
    height: 700px
}

.hero .hero-content.intro-center {
    position: static;
    padding-top: 150px
}

.hero-content .sub-input .btn {
    right: 8px
}

.hero-content .intro-text .intro-heading {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 60px
}

.left-dir-col {
    text-align: right
}

.left-dir-col .icon {
    float: right
}

.left-dir-col .text {
    margin-right: 80px
}

.right-dir-col .icon {
    float: left
}

.right-dir-col .text {
    margin-left: 80px
}

.left-dir-col .list, .right-dir-col .list {
    padding: 10px;
    transition: .6s;
    -webkit-transition: .6s;
    cursor: default
}

.screenshot .owl-carousel .owl-item img {
    width: auto;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 10px 8px rgba(0, 0, 0, .2)
}
.screenshot .owl-carousel2 .owl-item img {
    width: auto;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 10px 8px rgba(0, 0, 0, .2)
}

.screenshot .owl-carousel .owl-item.active.center img {
    box-shadow: 0 0 0 #000;
    box-shadow: 0 0 35px rgba(0, 0, 0, .2)
}
.screenshot .owl-carousel2 .owl-item.active.center img {
    box-shadow: 0 0 0 #000;
    box-shadow: 0 0 35px rgba(0, 0, 0, .2)
}
.quote .quote-text {
    background: rgba(0, 0, 0, .1);
    padding: 40px;
    border-radius: 5px;
    position: relative
}

.quote .quote-text:after {
    content: '';
    position: absolute;
    left: 50px;
    top: 100%;
    border: 14px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, .1)
}

.quote .owl-item img {
    height: 60px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50px;
    float: left;
    margin-right: 15px
}

.quote .owl-item {
    padding: 20px
}

.quote-item img {
    margin-left: 30px
}

.pricing-btn .toggle, .toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px
}

.pricing-btn .toggler {
    color: #ddd;
    transition: .2s;
    font-weight: 700
}

.pricing-btn .toggler--is-active {
    color: #9d1726
}

.pricing-btn .b {
    display: block
}

.pricing-btn .toggle {
    position: relative;
    width: 80px;
    height: 35px;
    border-radius: 100px;
    background-color: #9d1726;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05)
}

.pricing-btn .check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6
}

.pricing-btn .check:checked ~ .switch {
    right: 2px;
    left: 57.5%;
    transition: .25s cubic-bezier(.785, .135, .15, .86);
    transition-property: left, right;
    transition-delay: .08s, 0s
}

.pricing-btn .switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 57.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .25s cubic-bezier(.785, .135, .15, .86);
    transition-property: left, right;
    transition-delay: 0s, .08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.pricing .model {
    height: auto;
    transition: .3s
}

.pricing .none {
    height: 0;
    overflow: hidden;
    opacity: 0
}

.pricing .pricing-table {
    transition: .5s;
    -webkit-transition: .5s;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #f0f0f0
}

.pricing .pricing-table.feat {
    box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
    border: 0
}

.pricing .pricing-table .pricing-content {
    margin-top: 40px
}

.pricing .pricing-header {
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e6
}

.pricing .pricing-footer {
    padding: 20px 0 45px 0
}

.team-mem-col .link {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 170px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%
}

.team-mem-col .team-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out
}

.team-mem-col .team-hover .team-hover-content {
    color: #000;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.team-mem-col .team-hover .team-hover-content .extra-link {
    font-size: 10px;
    width: 100%
}

.team-mem-col .team-hover .team-hover-content li {
    display: inline-block
}

.team-mem-col .team-hover .team-hover-content a {
    background: 0 0;
    border: 1px solid #fff;
    padding: 10px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-right: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}

.team-mem-col .team-hover .team-hover-content a:hover {
    background: #fff
}

.team-mem-col .link:hover .team-hover {
    opacity: 1
}

.post-col {
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    -webkit-transition: .5s
}

.post-col a:not(.btn):hover {
    color: inherit
}

.post-col:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px)
}

.post-col .post-content {
    padding: 0 30px 30px 30px
}

.post-meta {
    margin: 0
}

.post-meta li {
    margin-right: 20px;
    display: inline-block;
    float: left
}

.post-meta li a {
    font-size: .975em;
    color: #b4bcca;
    transition: .5s;
    -webkit-transition: .5s
}

.post-meta li i {
    margin-right: 5px
}

.post .post-col a img {
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s
}

.post .post-col:hover a img {
    opacity: .7
}

.blog a:not(.btn) {
    display: block
}

.blog a:not(.btn):hover {
    color: inherit
}

.blog .tags a {
    display: inline-block;
    padding: 3px 5px;
    color: #a8a8a8;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    background: #fff;
    border: 0
}

.blog .tags a.active {
    background: #a8a8a8;
    color: #fff;
    border: 0
}

.blog .post-col {
    box-shadow: 0 0 0 transparent
}

.blog .post-content {
    padding: 0
}

.blog .post-col:hover {
    transform: none
}

.blog .custom-form .form-control, .blog .sub-input .custom-form .form-control {
    height: 50px;
    box-shadow: 0 0 0 transparent;
    border-radius: 5px;
    border: border: 1px solid #e8ebf3
}

.blog .sub-input .custom-form .btn {
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    margin: 0;
    padding: 15px;
    color: #000
}

.blog .custom-form textarea {
    height: 120px !important
}

.blog .sub-input .custom-form .btn i {
    margin: 0
}

.blog .feature-text {
    padding: 26px;
    font-size: 16px;
    line-height: 30px;
    margin: 50px 0;
    border-left: 2px solid #2e38f6
}

.faq .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border: 0
}

.faq .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    border: 0;
    background: 0 0
}

.faq .panel-title, .glyphicon {
    font-size: 16px;
    font-weight: 600
}

.glyphicon {
    top: -8px;
    padding: 8px;
    font-size: 24px
}

.faq .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none
}

.faq .more-less {
    float: right;
    color: #fff
}

.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0
}

.footer-wrapper .footer-content {
    z-index: 10;
    position: relative
}

.footer-wrapper .copyright {
    font-size: .9em
}

@media only screen and (min-width: 1900px) {
    .bg-trans:before, [class*=bg-trans]:before, [class*=style-]:after {
        background-size: 100% !important
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-size: .8em
    }

    h1 {
        font-size: 2.5em
    }

    h2 {
        font-size: 2.25em
    }

    h3 {
        font-size: 2em
    }

    h4 {
        font-size: 1.75em
    }

    h5 {
        font-size: 1.5em
    }

    h6 {
        font-size: 1.25em
    }

    .icon-bg-md {
        width: 50px;
        height: 50px
    }

    .sec-pad {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .sec-pad-lg {
        padding-top: 90px;
        padding-bottom: 90px
    }

    .pt-0 {
        padding-top: 0
    }

    .pb-0 {
        padding-bottom: 0
    }

    .p-0 {
        padding: 0
    }

    .social-holder a {
        height: 40px;
        width: 40px
    }

    .res-center {
        text-align: center;
        padding: 70px;
        float: none
    }

    .res-center .icon {
        float: none;
        margin-bottom: 10px
    }

    .res-center .left-dir-col .text, .res-center .right-dir-col .text {
        text-align: center;
        margin: 0
    }

    .res-margin {
        margin-bottom: 40px
    }

    .right-dir-col .text {
        margin-left: 65px
    }

    .left-dir-col .text {
        margin-right: 65px
    }

    .flx-off-sm {
        display: block
    }

    .btn {
        padding: 10px 24px;
        margin-right: 5px
    }

    .btn i {
        font-size: 16px
    }

    .btn span {
        font-size: 12px
    }

    .btn i + span {
        margin-top: 2px
    }

    .navbar-custom ul li {
        margin: 0 10px
    }

    .navbar-custom ul li a {
        font-size: 11px
    }

    .navbar-custom .nav-btn .btn {
        padding: 13px 20px
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 50px
    }

    .hero-content .mockup {
        top: 30px;
        max-width: 350px
    }

    .hero-single {
        height: 300px
    }

    .hero.style-angle::after {
        height: 20% !important;
        bottom: -30px
    }

    .feature .section-text {
        padding: 0 40px 10px 40px
    }

    .footer-wrapper .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%
    }

    .navbar-custom ul li a:hover:before, .navbar-custom ul li.active a:before {
        width: 0%
    }

    .res-center-sm {
        padding: 50px;
        text-align: center;
        float: none
    }

    .res-center-sm .icon {
        float: none;
        margin-bottom: 10px
    }

    .res-center-sm .left-dir-col .text, .res-center-sm .right-dir-col .text {
        text-align: center;
        margin: 0
    }

    .pt-0 {
        padding-top: 0
    }

    .pb-0 {
        padding-bottom: 0
    }

    .p-0 {
        padding: 0
    }

    .quote .owl-item {
        padding: 10px
    }

    .navbar-header {
        max-width: 100%
    }

    .tab-horizon .tab-menu .tab-list li {
        padding: 10px
    }

    .flx-off-xs {
        display: block
    }

    .res-margin, .res-margin-sm {
        margin-bottom: 30px
    }

    .hero {
        height: auto;
        padding: 70px;
        text-align: center
    }

    .hero.style-wave-2 {
        height: auto;
        max-height: 100%
    }

    .hero .img-pre {
        margin-top: 30px;
        width: auto
    }

    .hero.style-1:after {
        height: 370px
    }

    .navbar-custom, .navbar-custom.affix {
        padding: 15px 0
    }

    .navbar-custom ul li a {
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea
    }

    .navbar-custom ul li:first-child a {
        border-top: 1px solid #eaeaea
    }

    .navbar-custom ul li a::after {
        height: 0
    }

    .navbar-nav {
        text-align: center
    }

    .navbar-custom .right-nav {
        float: none
    }

    .navbar-custom .right-nav .nav-btn {
        text-align: center;
        float: none
    }

    .navbar-collapse {
        background: #fff;
        padding: 20px 0;
        overflow-x: hidden;
        margin-top: 15px
    }

    .sec-pad, .sec-pad-lg {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .pt-0 {
        padding-top: 0
    }

    .pb-0 {
        padding-bottom: 0
    }

    .p-0 {
        padding: 0
    }

    .spce {
        height: 5px
    }

    .spce.lg {
        height: 40px
    }

    .tab-container {
        margin-left: 0
    }

    .tab-list li {
        display: block
    }

    .tab-list li a {
        padding: 3px 6px
    }

    .screenshot .owl-carousel {
        margin-top: 0;
        margin-bottom: 0
    }
    .screenshot .owl-carousel2 {
        margin-top: 0;
        margin-bottom: 0
    }

    .col-xs-4 {
        padding-left:5px !important;
        padding-right:5px !important;
    }

    .btn-holder {
        margin-top: 10px
    }

    .navbar-custom .navbar-brand {
        padding: 6px 0 0 0
    }

    .navbar-custom ul li {
        margin: 0 10px
    }

    .navbar-custom ul li a {
        font-weight: 700;
        color: inherit
    }

    .navbar-custom ul li a:hover {
        color: #0facf3
    }

    .navbar-custom ul li a:hover, .navbar-custom ul li.active a {
        color: #424242
    }

    .nav-btn .btn {
        margin-top: 8px
    }

    .navbar-custom ul li:last-child a {
        padding: 0 20px 0 20px;
        line-height: 32px
    }

    .navbar-custom:not(.navbar-fixed-top) .container {
        width: 100%
    }

    .pricing {
        padding: 0 80px 0 80px
    }

    .pricing .pricing-table, .pricing .pricing-table.main {
        transform: scale(1)
    }

    .parallaxie {
        background-attachment: scroll !important;
        background-position: 50% 50% !important
    }
}

@media only screen and (max-width: 480px) {
    .pt-0 {
        padding-top: 0
    }

    .pb-0 {
        padding-bottom: 0
    }

    .p-0 {
        padding: 0
    }

    .btn {
        padding: 10px 15px;
        font-size: .775em
    }

    .icon-bg {
        width: 80px;
        height: 80px;
        font-size: 2em
    }

    .sub-input .custom-form .form-control {
        height: 50px
    }

    .tab .slide-side .phone {
        width: 200px
    }

    .app-slide {
        position: absolute;
        top: 50%
    }

    .app-slide img {
        width: 176px !important
    }

    .feat-slide .owl-item {
        padding: 10px
    }

    .tab-horizon .tab-menu .tab-list li {
        padding: 5px 7px;
        font-size: 10px
    }

    .res-center-xs {
        text-align: center;
        float: none
    }

    .res-center-xs .icon {
        float: none;
        margin-bottom: 10px
    }

    .res-center-xs .left-dir-col .text, .res-center-xs .right-dir-col .text {
        text-align: center;
        margin: 0
    }

    .res-center-sm, .res-center-xs {
        padding: 20px
    }

    .hero {
        padding: 50px 0 30px 0
    }

    .res-margin, .res-margin-sm, .res-margin-xs {
        margin-bottom: 25px
    }

    .pricing {
        padding: 0
    }

    .container {
        padding-left: 25px;
        padding-right: 25px
    }

    .section-text {
        margin: 0 auto 40px auto
    }

    .blog .sub-input .custom-form .btn {
        width: auto;
        position: absolute;
        height: 100%
    }

    .sub-input .custom-form label {
        top: 14%
    }
}

@media only screen and (max-width: 360px) {
    .navbar-brand img {
        width: 120px;
        margin-top: 8px;
        margin-bottom: 8px
    }

    .pt-0 {
        padding-top: 0
    }

    .pb-0 {
        padding-bottom: 0
    }

    .p-0 {
        padding: 0
    }
}

.hero.intro {
    padding-top: 30px;
    padding-bottom: 0
}

.hero.intro.style-wave:after {
    background-size: cover !important
}

.demo div[class*=col-] a {
    display: block;
    border: #dbdbdb;
    transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0 6px 45px rgba(169, 169, 169, .1)
}

.demo div[class*=col-] a:hover {
    box-shadow: 0 20px 70px rgba(0, 0, 0, .2);
    transform: translateY(-5%)
}

@media only screen and (max-width: 991px) {
    .hero.intro {
        padding: 0
    }

    .hero.intro .parallax-bg {
        background-size: 100%;
        background-position: 50% 30%
    }

    .demo [class*=col] {
        margin-bottom: 30px
    }
}